# ---------- Keil MDK 编译产物 ----------
*.o
*.d
*.crf
*.dep
*.axf
*.elf
*.hex
*.bin
*.map
*.lst
*.lnp
*.iex
*.sct
*.bak
*.build_log.htm
*.__i

# ---------- Keil 输出目录 ----------
Objects/
Listings/
DebugConfig/

# ---------- Keil 本地窗口布局 / 用户配置 ----------
*.uvguix.*
*.uvoptx

# ---------- 编辑器 ----------
.vscode/
.idea/

# ---------- Python ----------
__pycache__/
*.py[cod]
